h1{
    text-align: center;
    color:rgb(14, 172, 148)
}
.search{
    text-align: center;
    width: 320px;
    height: 40px;
    display: flex;
    border: 1px solid green;
    border-radius: 10px;
    overflow: hidden;
    margin:10px auto;
    button{
        width: 100px;
        height: 40px;
        border:none;
        outline:none;
        padding:0 20px;
        background-color:aqua;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    input{
        flex: 1;
        width: 300px;
        height: 40px;
        border:none;
        outline:none;
        padding: 0 16px;
        font-size: 16px;
    }
}
.note{
    text-align: center;
    color: gray;
    font-size: 10px;
}