.download{
    margin-top: 20px;
    background-color: yellowgreen;
    border-radius: 10px;
    padding: 10px;
    a{
        margin-top: 10px;
        color: white;
        background-color: orange;
        text-decoration: none;
        border-radius: 10px;
        padding: 1px;
        border: 1px solid white;
    }
}
.app_info{
    .app_name{
        font-size: 50px;
        font-weight: bold;
    }
}
body{
    font-family: "kaiTi";
}